.post{
   padding: 20px;
   display: flex;
}

.poster__img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.post__wrap{
    margin-left: 10px;
}

.post__name{
    display: flex;
    margin-top: 10px;
}

p{
    color: var(--white);
}

.time{
    color: var(--gray);
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
}

.post__text{
    font-size: 18px;
    margin-top: -10px;
}

.name{
    color: var(--fade);
}

.border{
    border: 3px solid var(--border-color);
}